body, html {
    height: 100%;
    margin: 0;
    background-color: lightblue;
    font-family: 'Pragati Narrow', sans-serif;

}

h1 {
    font-size: 50px;
    color: rgb(209, 204, 204);
    margin-left: 30px;
}

.list-group {
    width: 300px;
    height: 600px;
    opacity: 1;
    border: 0px;
    margin-top: 100px;
    padding: 5%;

}

.menu-item {
    color:rgb(209, 204, 204);
}

button {
    color: rgb(209, 204, 204);
    opacity: 1;
    border: none;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}


/* Background Images */
.first {
    background-image: url("https://wallpapercave.com/wp/VCE2Lku.jpg");
    background-color: #3a8592;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100%;

  
 }

 .second {
    background-image: linear-gradient(white, gray);
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    /* height: 500px; */
    width: 100%;
  
 }

 /* Icons */

 .footer-icon {
     font-size: 40px;
 }

 .about-icons {
     font-size: 70px;
 }

 #linkedin {
     font-size: 40px;
     margin-top: -15px;
     

 }

 /* Image */

 .avatar {
    border-radius: 50%;
    width: 20%;
}

.screenshot {
    height: 320px;
    margin-top: 14px;
    
    
}

/* About Me Text*/

#aboutMe {
     margin-left: 20%;
     margin-right: 20%;
}

.container {
    margin-top: 100px;
   
}

.col {
    margin-bottom: 30px;
}
/* hyperlinks */

button>a {
    color: whitesmoke;
}

button>a:hover {
    color: gray;
}